body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

html, body {
  overflow-x: hidden;
}

.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(95deg , rgb(17, 5, 51) , rgb(179, 90, 18));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
  margin-top: 10px;
  color: white;
}

.hero h1 span{
  color : rgb(242, 97, 1);
}

textarea{
  width: 600px;
  height: 250px;
  background-color: #3c3b45;
  color: white;
  opacity: 0.6;
  border-radius: 15px;
  outline-style: solid;
  outline-color: #403d84;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}

textarea::placeholder{
  font-size: 16px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row{
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  background: #e75c11;
  padding: 8px 25px;
  border-radius: 35px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  margin-right: 10px;
}

select{
  flex: 1;
  color: black;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 35px;
  border: none;
  outline: 0;
  opacity: 0.7;
  appearance: none;
  background-image: url(images/dropdown2.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px) ;
  background-position-y: 10px ;
}
